 <div class="user-details">
 
 <style>
 img{
	border-radius: 50%;
	}
ul li{ content:'\00b7'; font-size:18px; padding: 5px; }
body {
  color: black;
  text-align: justify;
}
 </style>
  <h3>  </h3>
  <img src="/assets/img/me2.jpg" alt="my picture" align="middle" width="300px" height="450px">
  <h1> About Me </h1>
  <ul>
  <li> {{site.user_description1}} </li>
  <li> {{site.user_description2}}</li>
  <li> {{site.user_description3}}</li>
   </ul>
   <p style="font-size:120%;" ><a href="https://scholar.google.de/citations?user=xsoiVqAAAAAJ&hl=en"> Google Scholar </a></p>
   <p style="font-size:120%;"><a href="https://www.researchgate.net/profile/Oscar_Hernandez58"> Research Gate </a></p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Coding</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <p>Python, Fortran, C++
                            </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <p> Linux, Amazon web services, Github, Gitlab and Bitbucket</p>
    </div>
</div>
