 <div class="user-details">
  <h1> My Expertise </h1>
  <h3> {{site.user_description}} </h3>
</div>
  <div class="user">
    <div class="tech">
      <h2>Coding</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <p>Python, Fortran, C++
                            </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <p> Linux, Amazon web services, Github, Gitlab and Bitbucket</p>
    </div>
</div>
