<div class="user-details">
<div style="background-color:#F0F0F0">
   <h1> Featured Posts </h1>
   <ul>
   <h3><a href="/other/2019/03/31/twitter_automotive_sentiment_analysis.html#about"> March 31,2019: Twitter Sentiment Analysis of Automotive brands</a></h3>
<!--
   <h3><a href="/others/2016/06/04/example-content.html#about">Sept 1, 2018: An Amazing Sample</a></h3>
   <h3><a href="/others/2015/06/04/test-page.html#about"> August 27, 2018: An amazing old post</a></h3>-->
   </ul>
   <!-- <h3><a href="/blog/#about"> More Posts </a></h3> -->
   <h3> </h3>
</div>
</div>
