<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<!--
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Tesla_website_fig.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Twitter sentiment analysis of Automotive Brands </h3>
    <p> <b>How is twitter sentiment data of automotive companies like Tesla, Mercedes, Porsche, Ford and Toyota related to their stock returns?</b><p> 
	<p>In this proof-of-concept consulting project for <a href="https://www.apithinking.de/en/">ApiThinking</a>, 
    I constructed the framework required to build the sentiment analysis models, the twitter data collector server aswell as the machinery required 
    to carry out the Bayesian analysis of data to investigate possible correlations with uncertainty bounds.   
    </p>  
    <p><b> Python, Pandas, AWS, sklearn, SQLite </b></p> 
    <a class="project-link" href="other/2019/03/31/twitter_automotive_sentiment_analysis.html#about" target="_blank">Blog Link</a>
    <a class="project-link" href="https://github.com/OscarJHernandez/sentiment_analysis" target="_blank">Github Link</a>
  </div>
</div>
-->

<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/sunspot_FFNN.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Time series with neural networks </h3>
    <p><b>Can a neural network be used to forecast time series?</b><p>
    <p> In this project I constructed and optimized various single layer neural networks
    to forecast time series data and compared against ARIMA benchmarks. This was my capstone project for the Udacity Machine Learning Engineer nanodegree 
    and was one of five selected out of a cohort of >400 peers for peer presentation. 
    </p>  
    <p><b> Python, Pandas, Keras, sklearn </b></p> 
    <a class="project-link" href="/other/2018/02/02/udacity_capstone.html#about" target="_blank">Blog Link</a>
    <a class="project-link" href="https://github.com/OscarJHernandez/udacity_2018_ml_nanodegree/blob/master/capstone_project/README.md" target="_blank">Github Link</a>
  </div>
</div>
-->

<!--
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/image_ID.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Image Classification with Deep Neural Networks </h3>
    <p><b> How difficult is it to implement and train a convolutional neural network image classifier?</b><p>
    <p> 
	 In this project I implemented three different, basic, convolutional neural network architectures inspired by the most 
	 state of the art models for the purpose of classifying images
	 into four categories using the Pascal VOC 2007 data set. The training of the entrire network was done from scratch and carried
	 out in a Kaggle Kernel. This was my final project 
	 from the 5th European data science summer school.
    </p>  
    <p><b> Python, Pandas, Keras </b></p> 
    <a class="project-link" href="/other/2018/08/08/EDS3_summerschool_project.html#about" target="_blank">Blog Link</a>
    <a class="project-link" href="https://www.kaggle.com/oscarjhernandez/ed3s-voc-dataset" target="_blank">Kaggle Kernel Link</a>
  </div>
</div>
-->

<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Twitter Sentiment Analysis </h3>
      <b> Summary </b>
    <p> Python, SQLite </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Bayesian Model Fitting </h3>
      <b> Summary </b>
    <p> Python, SQLite </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Fakenews Headline Detector </h3>
      <b> Summary </b>
    <p> Python, SQLite </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
-->


