<!DOCTYPE html>
<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      
      <sub>

<!--
      <section id="about">
        {% include blog_section.html %}
      </section>
      </sub>
-->
 <!--     <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
 -->
      {% include footer.html %}
  </body>
